<header>
    <div class="wrap">
	<!-- logo -->
    <a href="#!"><img class="logo" src="images/logo.jpeg" /></a>
	<div><h3><span ng-show="text">Photos of {{text}}</span></h3></div>
	<div class="row">
    <div class="col-md-4">
        <form class="form-inline" role="form">
            <div class="form-group">
                <input class="form-control" id="flickr-search" placeholder="search" ng-model="text">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" id="flickr-search-button" ng-click="search(text)">Search</button>
            </div>
        </form>
    </div>
    <ul class="col-md-4 pagination">
        <li ng-repeat="page in pageNav"><a href="" ng-click="search(text, page.number)">{{page.text}}</a></li>
    </ul>
    <div class="col-md-4"><p class="pages-of-pages">Page {{page}} of {{pages}}</p></div>

</div>
<div class="flickr-photos">
    <div ng-show="loading"><img src="images/loader.gif"></div>
    <div ng-hide="loading" class="flickr-photo" ng-repeat="photo in photos">
    	<a ng-href="#/{{photo.id}}">
    		<img ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg">
    		
    	</a>
    </div>
</div>
</div>
</header>

